
/* css */
body {
  background-color: #BCE7FD;
}

h2 {
  margin-top: 30px;
}

img {
  width: 100%;
}

.btn {
  background-color: #B0DB43;
  border-color: #B0DB43;
  margin: 15px;
}

.description {
  margin: 10px 0px 35px 0px;
}

.goal-area{
  padding: 15px;
}

.How-to-use {
  align-content: center;
}

.logo, h1, #restart-btn {
  margin-top: 30px;
}

.pattern-item {
  background-color: #12EAEA;
  text-align: center;
  float: left;
  position: "static";
  width: 200px;
  padding: 20px;
  margin: 10px;
}

.pattern-item-true {
  background-color: #DB2763;
  float: none;
  position: "relative";
}

.demonstration-ethical {
  background-color: #12EAEA;
  text-align: center;
  width: 200px;
  padding: 20px;
  margin: 0px 10px 10px 10px;
}

.demonstration-unethical {
  background-color: #DB2763;
  text-align: center;
  width: 200px;
  padding: 20px;
  margin: 0px 10px 10px 10px;
}

.goal-area {
  background-color: #C492B1;
  height: 300px;
  margin: 10px;
}

.screenshot {
  height: 450px;
  width: auto;
}

.separate-row-all {
  margin-top: 15px;
}

.all-results {
  margin: 10px 0px 90px 0px;
}

.btn {
  width: 100%;
}

@media (max-width: 768px) {
  .How-to-use {
    width: 768px;
  }
}

@media(min-width: 1200px) {
  .How-to-use {
    width: 60%;
  }
}

@media(max-width: 1200px) {
  h4 {
    margin-top: 15px;
  }

  .description {
    width: 100%;
  }
}
