
/* css */
body {
  background-color: #BCE7FD;
}

img {
  width: 100%;
}

.goal-1, .goal-2, .goal-3, .goal-4, .goal-5, .goal-6, .goal-7, .goal-8 {
  background-color: #12EAEA;
}

.goal-area {
  background-color: #C492B1;
  height: 300px;
}
